<div class="favorite-container m-auto">
  <div class="header-container container my-3">
    <h1 class='text-light text-center'>Favorite</h1>
  </div>
  <div class="container favorite-list-container">
    <div class="row">
      <div class="card m-1" style="width: 18rem;" *ngFor="let manga of mangas$ | async" (click)="favCardOnClick(manga)">
        <div class="card-body">
          <h5 class="card-title">{{ manga.name }}
            <span class="site">{{ manga.site | mangaSite }}</span>
          </h5>

          <p class="card-text site" *ngFor="let chap of manga.latest_chapters | keyvalue">
            Latest {{ chap.key }} : {{ chap.value.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>