<div *ngIf="manga$ | async as manga" class="manga-index-container">
  <div class="jumbotron bg-primary rounded-0 w-100 mx-auto my-0">
    <div class="w-75 m-auto">
      <h1 class="display-4 text-light">{{ manga.name }}</h1>
      <p class="lead text-light">
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.
      </p>
      <hr class="my-4" />
      <p class="text-light">
        It uses utility classes for typography and spacing to space content out
        within the larger container.
      </p>
    </div>
  </div>

  <div class="manga-index-type-tabs-container m-auto">
    <ul class="nav nav-tabs nav-justified">
      <li *ngFor="let item of tabNames; let idx = index" class="nav-item">
        <a
          class="tab-link nav-link bg-light"
          [ngClass]="idx == this.activatedTab ? 'active' : ''"
          (click)="onTabLinkClicked(idx)"
          >{{ item }}</a
        >
      </li>
    </ul>
  </div>

  <div class="index-table-container bg-light mx-auto">
    <div class="row mx-2 justify-content-md-center">
      <div
        *ngFor="let chapter of manga.chapters[MangaIndexType[activatedTab]]; let idx = index"
        class="col-sm-3 col-lg-2 m-2"
      >
        <a
          class="chapter-link nav-link text-center"
          (click)="onLinkClicked(manga.url, idx)"
          >{{ chapter._title }}</a
        >
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-view-panel></app-view-panel>
      </div>
    </div>
  </div>
</div>
