@import "node_modules/bootstrap/scss/bootstrap.scss";
.index-table-container {
  max-width: 75%;
}
.chapter-link {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: $dark;
}

.chapter-link:hover {
  color: black;
}

.modal {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-dialog {
  max-width: fit-content;
}
