@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";

.site {
  color: $gray-700;
  font-size: $font-size-base;
  margin-bottom: 0;
}

.latest {
  color: $gray-600;
  font-size: $font-size-sm;
  margin-bottom: 0;
}

.manga-card {
  height: 260px;
  cursor: pointer;
  background-color: $light;

  &:hover {
    background-color: white;
  }
}

.card-body {
  overflow: hidden;
}

.thum-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.thum-img-container {
  max-width: 180px;
  max-height: 258px;
  overflow: hidden;
}